<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/saveproduto" method="GET">
      <label>Produto: </label>
      <input type="text" id="produto" name="produto">
      <button type="submit">Salvar</button>
    </form>

    <h3>Produtos salvos</h3>
    <%= produtos %>
  </body>
</html>
