<!DOCTYPE html>
<html>
  <head>
    <title>LOGIN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <h4><%= msg %></h4>
    <form method="POST" action="/login">
        <label>Usuário</label>
        <input type="text" id="usuario" name="usuario">
        <label>Senha</label>
        <input type="password" id="senha" name="senha">
        <button type="submit">Acessar</button>
    </form>
  </body>
</html>
