<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form action="/save" method="POST">
      <input type="text" id="pathFile" name="pathFile">
      <button type="submit">Enviar</button>
    </form>
  </body>
</html>
